.register{
    height:calc(100vh - 50px);
    display:flex;
    align-items:center;
    flex-direction: column;
    justify-content:center;
    background:linear-gradient(rgba(225,225,225,0.5),rgba(225,225,225,0.5)) ,
    url('https://media.istockphoto.com/photos/sunlight-in-thick-forest-picture-id1291476539?b=1&k=20&m=1291476539&s=170667a&w=0&h=1IYH84fC2TG4Av6a-fi9AoZV5P5UxaobAA_2zWPiY14=cd');
    background-size:cover;
}

.registerTitle{
    font-size:50px;
}

.registerForm{
    margin-top:20px;
    display: flex;
    flex-direction:column;

}

.registerForm > label{  
    margin:10px 0;
}

.registerInput{
    padding: 10px;
    background-color:white;
}

.registerloginButton {
    margin-top:20px;
    cursor:pointer;
    background-color:teal;
    border:none;
    color:white;
    border-radius:10px;
    padding:10px;
}

.loginButton{  
    position:absolute;
    top: 60px;
    right:20px;
    background-color:lightcoral;
    cursor:pointer;
    border:none;
    color:white;
    padding:10px;
    border-radius:10px;

}
